
@import "~normalize.css";
@import "font-awesome.min.css";
@import "fonts.css";






html {
  line-height: 1;
  font-size: 10px;
}
html,
body {
  width: 100%;
  height: 100%;

}
body {
  min-height: 100%;
  font-family: "TitilliumWeb", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'TitilliumWeb', sans-serif;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
textarea {
  resize: none;
}
section {
  position: relative;
}
h2 {
  text-align: center;
}
input,
select,
button {
  outline: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.hide {
  display: none;
}
.show {
  display: block;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}


.container {
  width: 100%;
  width: 1170px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

body{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.flex-wrap{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header{
  background-color: rgb(135, 80, 156);
  color: #fff;
  min-height: 100vh;
}
.header-wrap{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-start;
}
.header-row{
  padding: 60px 30px 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.nav-list__item {
    font-family: "TitilliumWeb";
    display: inline-block;
    margin-right: 30px;

}
.nav-list__item a{
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.125;
  display: block;
  transition: all .25s ease;
  padding: 5px 15px;
}

.nav-list__item a:hover, .nav-list__item.active a{
  border-radius: 4px;
  background-color: rgba(100, 58, 121, .6);
  transform: scale(1.03);
}

.header-greeting{
  margin-top: 250px;
}
h1.header-greeting__text{
  font-size: 4.2rem;
  font-family: "TitilliumWeb";
  color: rgb(247, 243, 234);
  font-weight: bold;
  line-height: 1.158;
  text-align: center;
}

.button {
  margin: 80px auto 0;
  border-radius: 4px;
  width: 293px;
  height: 70px;
  border-bottom: 4px solid;
  transition: all .25s ease;
}
.button.--button-orange{
  background-color: rgb(235, 125, 75);
  border-bottom-color: rgb(200, 106, 64);


}

.button:hover{
  box-shadow: 1px 4px 10px 2px rgba(0,0,0,.5);
}


.button a{
  font-size: 1.8rem;
  font-family: "TitilliumWeb";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 70px;
  text-align: center;
  display: block;
  text-transform: uppercase;
}
section.section{
  min-height: 100vh;
}
section.section.--developing{
  background-color: rgb(23, 194, 164);

}

.section-header__title{
  font-size: 4.4rem;
  font-family: "TitilliumWeb";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.748;
  text-align: center;
  padding-bottom: 20px;
  position: relative;
}

.section-header__title::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 44px);
  width: 88px;
  height: 4px;
  background-color: rgba(0, 0, 0, .149);
}

.section-header__descr{
  margin-top: 20px;
  font-size: 2.0rem;
  font-family: "TitilliumWeb";
  color: rgb(255, 255, 255);
  line-height: 1.444;
  text-align: center;
}
.developping-list{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  margin-top: 130px;
}
.developping-item{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}
.developping-item__img{
text-align: center;
}

.developping-item__img img{
  display: inline-block;
}

.developping-item__title {
  margin-top: 60px;
  font-size: 2.5rem;
  font-family: "TitilliumWeb";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.75;
  text-align: center;
}

.developping-item__descr{
  margin-top: 25px;
  font-size: 1.8rem;
  font-family: "TitilliumWeb";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
}

section.section.--about{
  background-color: rgb(231,241,248);
}

.section-header__title.--dark,
.section-header__descr.--dark{
  color: rgb(60,71,97);
}
.about-list{
  margin-top: 80px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
}
.about-item{
  min-width: 250px;
}
.about-item__img{
  text-align: center;
}
.about-item__img img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid rgb(135,135,135);
  display: inline-block;
}
.about-item__title.--dark{
  margin-top: 40px;
  font-size: 2.4rem;
  font-family: "TitilliumWeb";
  color: rgb(39, 40, 61);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.75;
  text-align: center;
}

.about-item__sub-title.--blue{
  margin-top: 10px;
  font-size: 1.8rem;
  font-family: "TitilliumWeb";
  color: rgb(48, 186, 231);
  line-height: 1.125;
  text-align: center;
}

.about-item__descr{
  margin-top: 25px;
  font-size: 1.6rem;
  font-family: "TitilliumWeb";
  color: rgb(60, 71, 97);
  line-height: 1.5;
  text-align: center;
}
.about-social-list{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.about-social-item a{
  font-size: 3.4rem;
  transition: all .25s ease;
}

.about-social-item a:hover{
  color: rgb(48, 186, 231);
  transform: scale(1.03);
}

.section.--work{
  background-color: rgb(255,221,153);
}

.section-header__title.--light-line::before{
  background-color: rgb(229, 195, 127);

}
.work-list{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work-img{
  margin-top: 50px;
  text-align: center;
}
.work-img img{
  display: inline-block;
  height: 315px;
}
.work-descr{
  font-size: 1.8rem;
  margin-top: 20px;
  text-align: center;
}

.button.--button-green{
  background-color: rgb(23,194,164);
  border-color: rgb(20,165,140);
}

.button.--button-blue{
  background-color: rgb(48,186,231);
  border-color: rgb(41,158,197);
}

footer{
  min-height: 400px;
  background-color: rgb(215,70,128);
  position: relative;
  margin-bottom: 70px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}
.footer-social{
  background-color: rgb(152,65,100);
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0px;
}
